.txt{
    color: rgb(50 28 18 / var(--tw-bg-opacity, 1)) !important;
}
.hide-flag .react-phone-number-input__icon {
    display: none;
  }
  .hide-flag .react-phone-number-input__icon {
    display: none !important;
  }
  
  /* Optionally, you may need to hide the dropdown arrow */
  .hide-flag .react-phone-number-input__dropdown {
    display: none !important;
  }
  .PhoneInputCountryIconImg{
    display: none !important;
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  .col-md-6{
    width: 50%;
    height: 100vh;
  }
  .table_cont{
    background: url(../../../public/bg.jpg); /* Light shade of #e07e90 with transparency */

  }
  .glassy-box1 {
    background: url(../../assets/logo3.png) no-repeat center; /* Light shade of #e07e90 with transparency */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    max-width: 100%; /* Adjust width as needed */
    height: 50%;
    padding: 15vh;
    margin-right: -30vh;
  }
  
  @media screen and (max-width: 767px){
    .glassy-box1 {
      background: url(../../assets/logo3.png) no-repeat center; /* Light shade of #e07e90 with transparency */
      backdrop-filter: blur(10px); /* Blur effect */
      -webkit-backdrop-filter: blur(10px); /* For Safari */
      border-radius: 0px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
      max-width: 100%; /* Adjust width as needed */
      height: 50%;
      padding: 8vh;
      margin-right: -30vh;
    }
  }