.ourstimage{
    background-repeat: no-repeat;
}
.google_review{
    width: 100%;
    height: 100%;
}
.insta_img{
    max-width: 75%;
}
@media screen and (max-width: 767px){
    .sushi{
        display: none;
    }
    .insta_img{
        max-width: 100%;
    }
}
.about_carousel{
    max-height: 500px;
    object-fit: contain;
    margin: 20px;
}
